@page
@model Posto.ApplicationCore.ViewModels.UsuarioIdentityVM
@using Posto.ApplicationCore.Enum;

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Editar Usuário</h5>
                <div class="ibox-tools">
                    @*<a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>*@
                </div>
            </div>
            <div class="ibox-content">
                <form method="POST">
                    @Html.HiddenFor(p => p.Id_Usuario)
                    @Html.HiddenFor(p => p.IdentityUser)
                    @Html.HiddenFor(p => p.Password)

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">CPF</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(p => p.Cpf, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.Cpf, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(p => p.Nome, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Usuário</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(p => p.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">E-Mail</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control", type = "email" })
                            @Html.ValidationMessageFor(p => p.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Telefone</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(p => p.PhoneNumber, new { @class = "form-control", type = "tel" })
                            @Html.ValidationMessageFor(p => p.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ativo</label>
                        <div class="col-sm-10">
                            @Html.CheckBoxFor(p => p.Ativo, new { @class = "form-control align-left" })
                            @Html.ValidationMessageFor(p => p.Ativo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Perfis</label>
                        @Html.DropDownListFor(m => m.Perfil, new SelectList(Enum.GetValues(typeof(EnumPerfil))), "Selecione o perfil", new { @class = "select2" })
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-sm btn-white" type="submit">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>